# Java
*.class

# Maven
target/
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# IDE (IntelliJ / Eclipse)
.idea/
*.iml
.project
.classpath
.settings/

# Logs
*.log

# OS
.DS_Store
Thumbs.db